<!-- templates/home.html -->
{% extends 'base.html' %}
{% block title1 %} Home {% endblock %}
{% block title2 %} Buildik {% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-12 mb-3">
        {% if user.is_authenticated %}
        <!-- <a href="/user"></a> -->
        <h4 class="text-center"> Welcome <b><a href='/user/'>
            {% if user.first_name or user.last_name %}
            {{ user.first_name }} {{ user.last_name }}
            {% else %}
            {{ user.username }}
            {% endif %}
        </a></b></h4>
        <h5 class="text-center"> Be ready to celebrate and <a href="/">build your PC</a> </h5>
        {% else %}
        <h4 class="text-center"> Welcome <i>stranger</i> </h4>
        <h5 class="text-center"> You may want to <a href="/login">login</a> first </h5>
        {% endif %}
    </div>
</div>


{% endblock %}