<div class="configurator-category-data">
    <div class="compatibility-status" data-role="compatibility-status-icon" data-compatibility-status="1"></div>
    <div class="category-name">
        <p>
            <span data-role="category-name">Процессор</span>
            <span class="required-marker" data-role="required-marker">*</span>
        </p>
        <p class="configuration-message">Совместимо</p>
    </div>
    <div class="category-item-picture" data-role="configurator-product-image" data-icon-name="cpu">
        <a 
            class="show-popover ec-price-item-link image-container" 
            href="/product/a5d623090d913332/processor-amd-ryzen-threadripper-3970x-box/" 
            role="button" 
            tab-index="0" 
            data-role="show-product-card" 
            data-product-guid="a5d62309-0d91-11ea-a20d-00155d03332b" 
            data-product-card-url="/rsuConfigurator/configurator/product-card/?productId=a5d62309-0d91-11ea-a20d-00155d03332b" 
            data-html="" 
            data-toggle="popover" 
            data-placement="left" 
            data-trigger="hover" 
            data-content-target="#img-popover-a5d62309-0d91-11ea-a20d-00155d03332b" 
            data-container="#pop-abs-a5d62309-0d91-11ea-a20d-00155d03332b" 
            data-original-title="" 
            title="">
            <picture>
                <source 
                    type="image/webp" 
                    media="(min-width: 992px)" 
                    data-srcset="https://c.dns-shop.ru/thumb/st1/fit/60/60/4e122343fd177ab4e201d38eef9bc76b/0aaa49307311a8c5a43d949dbfc6b634124ed25beb214c94b3cf80009ed1fd65.jpg.webp" 
                    srcset="https://c.dns-shop.ru/thumb/st1/fit/60/60/4e122343fd177ab4e201d38eef9bc76b/0aaa49307311a8c5a43d949dbfc6b634124ed25beb214c94b3cf80009ed1fd65.jpg.webp">
                    <source 
                        type="image/webp" 
                        media="(min-width: 768px)" 
                        data-srcset="https://c.dns-shop.ru/thumb/st1/fit/120/120/774221804737560b9a3723d83291e8c0/0aaa49307311a8c5a43d949dbfc6b634124ed25beb214c94b3cf80009ed1fd65.jpg.webp" 
                        srcset="https://c.dns-shop.ru/thumb/st1/fit/120/120/774221804737560b9a3723d83291e8c0/0aaa49307311a8c5a43d949dbfc6b634124ed25beb214c94b3cf80009ed1fd65.jpg.webp">
                        <source 
                            type="image/webp"  
                            media="(max-width: 767px)" 
                            data-srcset="https://c.dns-shop.ru/thumb/st1/fit/90/90/9ca01a070570ddc559bfa25b80a4eee7/0aaa49307311a8c5a43d949dbfc6b634124ed25beb214c94b3cf80009ed1fd65.jpg.webp" 
                            srcset="https://c.dns-shop.ru/thumb/st1/fit/90/90/9ca01a070570ddc559bfa25b80a4eee7/0aaa49307311a8c5a43d949dbfc6b634124ed25beb214c94b3cf80009ed1fd65.jpg.webp">
                            <source media="(min-width: 992px)" data-srcset="https://c.dns-shop.ru/thumb/st1/fit/60/60/4e122343fd177ab4e201d38eef9bc76b/0aaa49307311a8c5a43d949dbfc6b634124ed25beb214c94b3cf80009ed1fd65.jpg" srcset="https://c.dns-shop.ru/thumb/st1/fit/60/60/4e122343fd177ab4e201d38eef9bc76b/0aaa49307311a8c5a43d949dbfc6b634124ed25beb214c94b3cf80009ed1fd65.jpg">
                                <source media="(min-width: 768px)" data-srcset="https://c.dns-shop.ru/thumb/st1/fit/120/120/774221804737560b9a3723d83291e8c0/0aaa49307311a8c5a43d949dbfc6b634124ed25beb214c94b3cf80009ed1fd65.jpg" srcset="https://c.dns-shop.ru/thumb/st1/fit/120/120/774221804737560b9a3723d83291e8c0/0aaa49307311a8c5a43d949dbfc6b634124ed25beb214c94b3cf80009ed1fd65.jpg">
                                    <source media="(max-width: 767px)" data-srcset="https://c.dns-shop.ru/thumb/st1/fit/90/90/9ca01a070570ddc559bfa25b80a4eee7/0aaa49307311a8c5a43d949dbfc6b634124ed25beb214c94b3cf80009ed1fd65.jpg" srcset="https://c.dns-shop.ru/thumb/st1/fit/90/90/9ca01a070570ddc559bfa25b80a4eee7/0aaa49307311a8c5a43d949dbfc6b634124ed25beb214c94b3cf80009ed1fd65.jpg">
                                        <img alt="Процессор AMD Ryzen Threadripper 3970X BOX" data-src="https://c.dns-shop.ru/thumb/st1/fit/60/60/4e122343fd177ab4e201d38eef9bc76b/0aaa49307311a8c5a43d949dbfc6b634124ed25beb214c94b3cf80009ed1fd65.jpg" class="loaded" src="https://c.dns-shop.ru/thumb/st1/fit/60/60/4e122343fd177ab4e201d38eef9bc76b/0aaa49307311a8c5a43d949dbfc6b634124ed25beb214c94b3cf80009ed1fd65.jpg" data-was-processed="true">
            </picture>
        </a>
        <div id="img-popover-a5d62309-0d91-11ea-a20d-00155d03332b" class="popover" role="tooltip">
            <div class="popover-content img-popover">
                <picture>
                    <source type="image/webp" media="(min-width: 320px)" data-srcset="https://c.dns-shop.ru/thumb/st1/fit/190/190/d09593dbe5aac0bf1fac9b1ee3924011/0aaa49307311a8c5a43d949dbfc6b634124ed25beb214c94b3cf80009ed1fd65.jpg.webp">
                        <source media="(min-width: 320px)" data-srcset="https://c.dns-shop.ru/thumb/st1/fit/190/190/d09593dbe5aac0bf1fac9b1ee3924011/0aaa49307311a8c5a43d949dbfc6b634124ed25beb214c94b3cf80009ed1fd65.jpg">
                            <img alt="Процессор AMD Ryzen Threadripper 3970X BOX" data-src="https://c.dns-shop.ru/thumb/st1/fit/190/190/d09593dbe5aac0bf1fac9b1ee3924011/0aaa49307311a8c5a43d949dbfc6b634124ed25beb214c94b3cf80009ed1fd65.jpg">
                </picture>
            </div>
        </div>
        <div id="pop-abs-a5d62309-0d91-11ea-a20d-00155d03332b" class="pop-abs"></div>
    </div>
    <div class="category-item-data" data-role="configurator-product-data">
        <div class="product-name">
            <p>
                <a href="/product/a5d623090d913332/processor-amd-ryzen-threadripper-3970x-box/" data-role="show-product-card" data-product-guid="a5d62309-0d91-11ea-a20d-00155d03332b" data-product-card-url="/rsuConfigurator/configurator/product-card/?productId=a5d62309-0d91-11ea-a20d-00155d03332b">Процессор AMD Ryzen Threadripper 3970X BOX</a>
            </p>
            <p>
                <a href="/product/a5d623090d913332/processor-amd-ryzen-threadripper-3970x-box/" data-role="show-product-card" data-product-guid="a5d62309-0d91-11ea-a20d-00155d03332b" data-product-card-url="/rsuConfigurator/configurator/product-card/?productId=a5d62309-0d91-11ea-a20d-00155d03332b">[sTRX4, 32 x 3700 МГц, L2 - 16 Мб, L3 - 128 Мб, 4хDDR4-3200 МГц, TDP 280 Вт]</a>
                <span class="product-code" data-role="product-code">Код товара: 1613700</span>
            </p>
            <div class="compatibility-message-mobile">Совместимо</div>
        </div>
        <div class="product-price">
            <div class="price">
                <div class="price_g"></div>
            </div>
            <div class="remains">
                <div class="order-avail-wrap">
                    <span class="avail-text no-avails">Товара нет в наличии</span>
                </div>
            /div>
        </div>
    </div>
    <div id="w-category-controls-d36ec572-551f-b669-2ff5-52c8d5e5ad8e" class="category-controls" data-role="configurator-controls" data-has-product="true">
        <button id="w9da34a96" class="btn btn-default btn-change" title="" data-role="show-catalog" data-toggle="tooltip" data-original-title="Изменить выбор">
            <i></i>
        </button>
        <button id="w1cbac76a" class="btn btn-link btn-remove" title="" data-role="remove" data-toggle="tooltip" data-original-title="Убрать товар из конфигурации">
            <i></i>
            <span>убрать</span>
        </button>
    </div>
</div>