body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.wrapper {
  padding-top: 4rem;
  padding-bottom: 7.5rem;
  margin: 0 auto;
  width: 60%;
}

.animate-act-button {
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.action-button {
  position: relative;
  padding: 5px 10px;
  margin: 0;
  float: left;
  border-radius: 10px;
  font-family: 'Pacifico', cursive;
  color: #fff;
  text-decoration: none;
}

.act-button-add {
  background-color: #82bf56;
  border-bottom: 5px solid #669644;
  text-shadow: 0px -2px #669644;
}

.act-button-rm {
  background-color: #e74c3c;
  border-bottom: 5px solid #bd3e31;
  text-shadow: 0px -2px #bd3e31;
}

.rm {
  background: red;
  border-radius: 50%;
  color: white;
  border: none;
}

.done {
  text-decoration: line-through;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid blue;
  border-color: blue transparent blue transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
